---
layout: page
title: Marc Brittain
subtitle: Aerospace Engineering PhD Student - Iowa State University
css: "/css/index.css"
meta-title: "Marc Brittain"
meta-description: "Iowa State University - Ames, Iowa"
bigimg:
  - "/img/web_photos/pikes_peak_1.JPG" : "Pikes Peak, Colorado"
  - "/img/web_photos/pikes_peak_2.JPG" : "Pikes Peak, Colorado"
  - "/img/web_photos/QuandryPeak.JPG" : "Mt. Quandary, Colorado"
  - "/img/web_photos/QuandryPeak_2.JPG" : "Mt. Quandary, Colorado"
  - "/img/web_photos/Acadia.jpg" : "Acadia National Park, Maine"
  - "/img/web_photos/Acadia_2.JPG" : "Acadia National Park, Maine"
  - "/img/web_photos/Andorra.jpg" : "Andorra"
  - "/img/web_photos/Marc_andorra.jpg" : "Andorra"
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article>
    <a class="post-preview" href="{{ post.url | prepend: site.baseurl }}">
	    <h2 class="post-title">{{ post.title }}</h2>
	
	    {% if post.subtitle %}
	    <h3 class="post-subtitle">
	      {{ post.subtitle }}
	    </h3>
	    {% endif %}
      <p class="post-meta">
        Posted on {{ post.date | date: "%B %-d, %Y" }}
      </p>

      <div class="post-entry">
        {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
        <span href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</span>
      </div>
    </a>  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
